<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Person</title>
</head>

<body>
    <h1>
        Luke Skywalker
    </h1>
    <ul class="data-list">
        
            <li>
                <b>id</b>
                <span>1</span>
            </li>
            
            <li>
                <b>name</b>
                <span>Luke Skywalker</span>
            </li>
            
            <li>
                <b>height</b>
                <span>172</span>
            </li>
            
            <li>
                <b>mass</b>
                <span>77</span>
            </li>
            
            <li>
                <b>skin_color</b>
                <span>fair</span>
            </li>
            
            <li>
                <b>hair_color</b>
                <span>blond</span>
            </li>
            
            <li>
                <b>birth_year</b>
                <span>19BBY</span>
            </li>
            
            <li>
                <b>gender</b>
                <span>male</span>
            </li>
            
    </ul>
</body></html>