<!DOCTYPE html>
<html lang="en"><head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>Planet</title>
</head>

<body>
    <h1>
        Tatooine
    </h1>
    <ul class="data-list">
            <li>
                <b>id</b>
                <span>1</span>
            </li>
            
            <li>
                <b>name</b>
                <span>Tatooine</span>
            </li>
            
            <li>
                <b>climate</b>
                <span>arid</span>
            </li>
            
            <li>
                <b>diameter</b>
                <span>10465</span>
            </li>
            
                <li>
                    <a href="/people?planet=1">
                        <b>Residents</b>
                        <i class="material-icons">arrow_forward</i>
                    </a>
                </li>
    </ul>

</body></html>