<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<script src="/js/jquery.min.js"/>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<title>Planets</title>
</head>

<body>
	<h1>Planets</h1>
	<ul class="data-list">
		<li>
			<b>Tatooine</b>
                <a href="/planet/1">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
            <li>
                <b>Alderaan</b>
                <a href="/planet/2">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
            <li>
                <b>Yavin IV</b>
                <a href="/planet/3">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
            <li>
                <b>Hoth</b>
                <a href="/planet/4">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
            <li>
                <b>Dagobah</b>
                <a href="/planet/5">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
            <li>
                <b>Bespin</b>
                <a href="/planet/6">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
            <li>
                <b>Endor</b>
                <a href="/planet/7">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
            <li>
                <b>Naboo</b>
                <a href="/planet/8">
                    <i class="material-icons">arrow_forward</i>
                </a>
            </li>
            
    </ul>
</body>
</html>